
@txtShadowcolor: darken(@body-bg,25%);

.fluidwidth {
  
}

/* PAGE D'ACCUEIL */
section.front-page {
  .make-lg-column(6);
  .make-lg-column-push(3);
  .text-center();
  
  hr.paddfixed {
    height:90px;
    margin:0;
    padding:0;
    border:none;
    clear:both;
    display:block;
    .visible-xs();
    .visible-sm();
    .visible-md();
    .visible-lg();
  }
  
  h1 {
    font-family:@font-family-base-iv;
    color:#fff;
    font-size:@font-size-large*4.3;
    margin:@padding-large-vertical; margin-bottom:0.1em;
    text-shadow:0 5px 5px @txtShadowcolor;
    letter-spacing:-0.05em;
    line-height:@line-height-large*0.6;
    .hidden();
  }
  
  h2 {
    font-family:@font-family-base-iv;
    color:@gray-lighter;
    font-size:@font-size-large*2.5;
    line-height:@line-height-large*0.7;
    margin:0; margin-bottom:@line-height-base*0.2em;
    margin:@padding-large-vertical; margin-bottom:0.1em;
    text-shadow:0 5px 5px @txtShadowcolor;
    letter-spacing:-0.05em;
    
    em {
      color:@ivColorRed1;
      font-style:normal;
    }
  }
  
  h3 {
    font-family:@font-family-base-iv;
    color:@ivColorBlue1;
    font-size:@font-size-base*2;
    margin:0;
    text-shadow:0 5px 5px @txtShadowcolor;
    letter-spacing:-0.05em;
  }
  
  nav.buttonsnav {
    .visible-lg();
    .btn-default {
      .text-center();
    }
  }
  
  .actusocial {
    .visible-lg();
  }
}

/* PAGE HOME / LIVE */
section.live {
  
  section.main {
    .make-lg-column(7);
    
    article.mod-article {
      .clearfix();
      section.art-vignette {
        .make-lg-column(3);
      }
      section.art-content {
        .make-lg-column(8);
        .text-left();
      }
    }
  }
  aside.sidebar {
    .make-lg-column(2);
  }
}

/* PAGE SERVICES */
section.services {
  
  section.main {
    
    .make-lg-column(10);
    .make-lg-column-push(1);
    
    .messervices {
      
      hr.clearfix { .visible-xs(); .visible-sm(); .visible-md(); }
      
      .service {
        .make-xs-column(6);
        .make-sm-column(6);
        .make-md-column(6);
        .make-lg-column(3);
        p {
          .text-center();
          height:224px;
          display:block;
          vertical-align:middle;
          width:100%;
          margin:0 auto;
        }
        h1 {
          .text-center();
          .fontlogo;
          color:#fff;
          margin-top:0;
          text-shadow:-1px 0px 0px @ivColorRed1;
        }
      }
      .service_print {
        p img { margin-top:16px; }
      }
      .service_web {
        p img { margin-top:50px; }
      }
      .service_photo_video {
        p img { margin-top:26px; }
      }
      .service_3d {
        p img { margin-top:38px; }
      }
    }
    
    .lead {
      p {
        margin-top:@padding-large-vertical;
        text-align:justify;
        font-weight:300;
      }
    }
    
    section.art-content {
      .btn-primary {
        margin-top:@padding-large-vertical;
        font-size:@font-size-large;
      }
    }
  
    aside.art-aside {
      .hidden-xs();
      .make-sm-column(3);
    }
  
  }
  
  aside.sidebar {
    .make-lg-column(3);
    
    section.art-content {    
      .make-sm-column(8);
      .art-content-default;
      
      strong {
        font-weight:300;
      }
      
      h4 {
        text-transform:uppercase;
      }
      
      .domaine {
        .make-md-column(4);
      }
    }
  }
  
  .buttonsnav {
    .visible-xs();
    .visible-sm();
  }
  
}

/* PAGE A PROPOS */
section.about {
  
  section.main {
    
    .make-lg-column(8);
    .make-lg-column-push(2);
    
    section.avatar {
      .make-lg-column(2);
    }
    
    section.presentation {
      .make-lg-column(10);
      text-align:justify;
    }
    
    .mescompetences {
      hr.clearfix { .visible-xs(); .visible-sm(); .visible-md(); .visible-lg(); }
      
      img {
        vertical-align:bottom;
      }
    }
  
  }
  
  aside.sidebar {
    .make-lg-column(3);
    
    section.art-content {    
      .make-sm-column(8);
      .art-content-default;
      
      strong {
        font-weight:300;
      }
      
      h4 {
        text-transform:uppercase;
      }
      
      .domaine {
        .make-md-column(4);
      }
    }
  }
  
  .buttonsnav {
    .visible-xs();
    .visible-sm();
  }
  
}

/* PAGE CONTACT */
section.contact {
  
    section.main {
    
      .make-lg-column(8);
      .make-lg-column-push(2);
      
    }

}

/* PAGE SINGLE */
section.single {
  
  section.main {
    .make-lg-column(8);
    
    article.mainsingle {
      
      header.art-header {
        margin:0 @padding-base-horizontal;
        
        &.top {
          .hidden-xs();
        }
        
        &.bottom {
          .visible-xs();
          h1 {
            font-size:@font-size-large*2 !important;
          }
        }
        
        h1 {
          font-size:@font-size-large*3;
          text-transform:uppercase;
          line-height:1em;
        }
      }
      
      .ilike {
        .hidden-xs();
      }
      section.art-share {
        .hidden-xs();
        
        .addthis_16x16_style {
          .visible-xs();
        }
        .addthis_32x32_style {
          .visible-sm();
          .visible-md();
          .visible-lg();
        }
      }
    
      section.art-vignette {
        margin:@padding-base-vertical 0;
        padding:0;
      }
      
      section.art-similaires {
        margin:0 @padding-base-horizontal;
      }
      
      section.art-comments {
        margin:0 @padding-base-horizontal;
        min-height:500px;
      }
      
      section.art-content {
        border-bottom:1px solid lighten(@body-bg,15%);    
        margin:@padding-base-vertical @padding-base-horizontal;
        padding:@padding-base-vertical @padding-base-horizontal;
        font-weight:400;
        
        h1 {
            font-size:@font-size-large*1.4em;
            text-shadow:-1px 1px 0 #555;
            border-bottom:1px solid #555;
          }
          h2 {
            font-size:@font-size-large*1.5em;
            text-shadow:-1px 1px 0 #555;
          }
          h3 {
            font-size:@font-size-large*1.2em;
            text-shadow:-1px 1px 0 #555;
          }
          ul { margin-left:0; padding-left:@line-height-base*1em; margin-bottom:@line-height-base*1.5em; }
          li {
            font-size:@font-size-base*1.4em;
            text-align:justify;
            margin:0 @line-height-base*1em;
            padding:0;
            line-height:@line-height-base*1.2em;
          }
          p {
            font-size:@font-size-large*1em;
            text-align:left;
            margin:@padding-base-vertical @padding-base-horizontal;
            line-height:@line-height-base*1.2em;
          }
      }
      
      
      
      #GameBoard {
        background:red;
      }
      .boardTable {
        .size(500px);
        background:red;
      }
    }
  }
  
  aside.sidebar {
    .make-lg-column(4);
    background:@ivColorBlue3;
    aside.main {
      .make-lg-column(10);
      .make-lg-column-push(1);
      
      .wrap-similaires {
        .mod-thumbnail {
          .make-xs-column(6);
          .make-md-column(3);
          .make-lg-column(6);
          
          margin:@paddin-small-vertical;
          border:1px solid lighten(@body-bg,5%);
          
          .thumbnail {
            border:none;
            padding:0;
          
            header.art-header h1 {
              font-size:@font-size-large/1.2;
              text-transform:uppercase;
              text-align:center;
              margin:0;
              padding:0;
              line-height:1.1em;
              height:3em;
              a { display:block; color:#ddd; text-shadow: -1px 1px 1px #000; letter-spacing:0.04em; &:hover { text-decoration:none; color:#fff; } img {.hidden()} }
            }
            
            section.art-vignette-bg {
              border:none;
              margin:0;
              padding:0;
              height:120px;
              background-size:cover;
              img {
                .hidden-lg();
              }
            }
          }
        }
      }
    }
  }
  
  &-inverse {
    background:#fff;
    color:@ivColorBlue3;
    
    hr.top {
      border-color:#fff;
    }
    
    .fontlogo {
      background:lighten(@ivColorBlue1,25%);
      color:@ivColorBlue3;
      margin:0;
      padding:@padding-large-vertical*2em @padding-large-horizontal*2em;
      text-shadow:-2px 0px 0px @ivColorRed1;
    }
    
    article {
      .media {
        h4.media-heading a {
          font-size:@font-size-large*3em;
          color:@ivColorBlue3;
          letter-spacing:-0.05em;
          text-shadow:-1px 0px 0px @ivColorRed1;
        }
        .entry-meta a {
          color:@ivColorBlue2;
        }
        h1,h2,h3,h4,h5,h6 {
          letter-spacing:-0.05em;
        }
        p a {
          color:@ivColorRed1;
          border-bottom:1px dotted #ddd;
          &:hover {
            border-bottom:1px solid @ivColorRed1;
            text-decoration:none;
          }
        }
      }
      hr {
        border:4px solid @ivColorRed1;
      }
      hr.separator {
        border:none;
        border-top:1px dotted @ivColorBlue1;
        margin:@padding-small-vertical 0;
      }
      
      section.thumbnail {
        background:lighten(@ivColorBlue1,35%);
      }
    }
    aside.sidebar {    
      .make-lg-column(4);
      background:none;
      aside.main {
        .make-lg-column(10);
        .make-lg-column-push(1);
        
        background:lighten(@ivColorBlue1,25%);
        padding-bottom:@padding-large-vertical*3;
      }
    }
  }
}

/*Pages Search & Tag*/
section.search {
  .mod-article {
    margin:@paddin-small-vertical;
    border:1px solid lighten(@body-bg,5%);
      
    header.art-header h1 {
      font-size:@font-size-large;
      text-transform:uppercase;
      text-align:left;
      margin-bottom:0;
      line-height:1.1em;
      a { display:block; color:#ddd; text-shadow: -1px 1px 1px #000; letter-spacing:0.04em; &:hover { text-decoration:none; color:#fff; } }
    }
  }
}

/*Page GifWonder*/
section.gifwonder {
  section.main {
    .make-lg-column(8);
  }
  
  aside.sidebar {
    .make-lg-column(2);
  }
}

/*Page Portfolios*/
section.portfolios {
  .wallpinthumbnail {
    .make-lg-column(4);
    article {
      .make-lg-column(12);
    }
  }
}


/*Categorie*/
section.categorie {
  .make-lg-column(9);
  .make-lg-column-push(1);
}

/*Page*/
section.page {
  section.main {
    .make-lg-column(8);
  }
  
  aside.sidebar {
    .make-lg-column(2);
  }
}

/* PAGE HOME / LIVE */
section.blog {
  
  background:#fff;
  color:@ivColorBlue3;
  
  section.main {
    .make-lg-column(7);
    
    hr.top {
      border-color:#fff;
    }
    
    .fontlogo {
      background:lighten(@ivColorBlue1,25%);
      color:@ivColorBlue3;
      margin:0;
      padding:@padding-large-vertical*2em @padding-large-horizontal*2em;
      text-shadow:-2px 0px 0px @ivColorRed1;
    }
    
    article {
      .media {
        h4.media-heading a {
          font-size:@font-size-large*3em;
          color:@ivColorBlue3;
          letter-spacing:-0.05em;
          text-shadow:-1px 0px 0px @ivColorRed1;
        }
        .entry-meta a {
          color:@ivColorBlue2;
        }
        h1,h2,h3,h4,h5,h6 {
          letter-spacing:-0.05em;
        }
        p a {
          color:@ivColorRed1;
          border-bottom:1px dotted #ddd;
          &:hover {
            border-bottom:1px solid @ivColorRed1;
            text-decoration:none;
          }
        }
      }
      hr {
        border:4px solid @ivColorRed1;
      }
      hr.separator {
        border:none;
        border-top:1px dotted @ivColorBlue1;
        margin:@padding-small-vertical 0;
      }
    }
  }
  aside.sidebar {    
    .make-lg-column(4);
    aside.main {
      .make-lg-column(10);
      .make-lg-column-push(1);
      
      background:lighten(@ivColorBlue1,25%);
      padding-bottom:@padding-large-vertical*3;
    }
  }
}
