@import "../../../bodyrock/assets/less/structure.less";/* Tous les éléments inclus dans une SIDEBAR : widgets, etc... */

/*@import "structure-home.less";
 @import "structure-category.less";*/
 @import "structure-single.less";
/*@import "structure-page.less";*/

/*****************************************************/

body {
	cursor: default;
	padding: 0;
	padding-bottom: @navbar-height* 2;
	a {
		&:hover {
			text-decoration: none;
			color: lighten(@brand-primary,15%);
			span {
				color: lighten(@brand-primary,15%);
			}
		}
	}
	/* Header */
	header.header {
	
	}
	aside {
		.clearfix()
	}
	aside.sidebar {
		.make-sm-column(2); .make-sm-column-pull(10);
		.make-lg-column(1); .make-lg-column-pull(8);
		
	
		margin-top: @line-height-computed;
		
		@import "structures/aside.less";
	}
	
	section.widget {
		font-size: @font-size-small/1.125;
		.list-group-item {
			font-variant: small-caps;
			span.badge { font-size:@font-size-small/1.125; }
		}
	
		.wallpin {
			article.article {
				header.art-header {
					h1 {
						font-size:@font-size-base;
						margin: @padding-small-vertical @padding-small-horizontal/2;
						padding: 0;
					}
				}
			}
		}
	}
	
	section.content {
		.make-sm-column(10); .make-sm-column-push(2);
		.make-lg-column(8); .make-lg-column-push(1);
		/* CSS Document */
		padding-top: @padding-large-vertical;
		padding-bottom: 10em;
		border-left: 1px solid @gray-lighter;
	
		@import "structures/content.less";
	}
	
	aside.sidebar-right {
		.make-lg-column(1);
		.make-lg-column(1);
	
		.vignette-bg {
			height: 100px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			.border-top-radius(2px);
			.border-bottom-radius(2px);
	
			h1 {
				margin: 0;
				span { .hidden(); }
			}
		}
	}
	
	/* Footer */
	footer.footer {
		.visible-lg;
	
		/* Footer */
		@import "structures/footer.less"
	}
	
	.column1, .column2, .column3 {
		.make-sm-column(4);
	}
}
/************************************************************************/

.category-inspiration {
	section.content {
		.make-lg-column(5);
	}
}

.gallery_aside {
	.gallery_attachments {
		img {
			.make-lg-column(3);
			display: block;
			margin: @line-height-base* 0.5em 0;
		}
	}
}

.bloc_rubriques, .bloc_apropos {
	color: #999;
	p { font-size:@font-size-base*1.6em; }
}

.wp-poll-ans {
	.hidden();
}

.gh_subtitle {
	color: #ddd;
	font-size: @font-size-large* 2.2em;
	text-shadow: 1px -1px 0 #fff;
}

header.subtitle {
	h1 {
		.gh_subtitle;
	}
}

.pagination {
	margin:  @padding-base-vertical 0;
}