@font-face {
  font-family: 'Share Tech';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech'), local('ShareTech-Regular'), url(https://fonts.gstatic.com/s/sharetech/v4/riJWcvd3sYdxJpiCWZvUGC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
