// Journal 3.1.0
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=News+Cycle:400,700");

// Navbar =====================================================================

.navbar {
  background:@ivColorRed1;
  font-size: 18px;
  font-family: @font-family-sans-serif;
  font-weight: @headings-font-weight;
  margin:0;
  border-bottom:1px solid @gray-lighter;
  border:none !important;
  box-shadow:0px 1px 2px @gray-lighter;
  box-shadow:none;
  
  .navbar-nav{
      margin: 0 auto;
      border:none;
      
      li a {
        color:@ivColorBlue1;
      }
  }
}
.navbar-unfixed {
  .navbar-nav{
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float:none;
      border:none;
      
      li a {
        color:@ivColorBlue1;
      }
  }
}

.navbar-brand {
	font-size: 28px;
	font-weight:300; letter-spacing:-0.02em; word-spacing:-0.05em;
	font-family: @shareTech;
	 color:#11191e !important;
	 margin:0 @padding-large-horizontal  !important;
}
.navbar-brand:hover {
	background:@ivColorRed2 !important; color:#fff !important;
}
.navbar-text {
  color:#11191e !important;
  padding:0;
  margin:1em 0; margin-bottom:0;
  font-weight:400;
  margin-right:2em;
}

// Buttons ====================================================================

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

.has-warning {
  .help-block,
  .control-label {
    color: @brand-danger;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-danger;
  }
}

.has-error {
  .help-block,
  .control-label {
    color: @brand-primary;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-primary;
  }
}

.has-success {
  .help-block,
  .control-label {
    color: @brand-success;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-success;
  }
}

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

.jumbotron {

  h1, h2, h3, h4, h5, h6 {
    font-family: @font-family-sans-serif;
    font-weight: @headings-font-weight;
    color: #000;
  }
}

.panel {

  &-primary,
  &-success,
  &-warning,
  &-danger,
  &-info {
    .panel-title {
      color: #fff;
    }
  }


}

.pager {
  li a {
    background:@ivColorRed1;
    &:hover {
      background:@brand-primary;  
    }
  }
}
