// Journal 3.1.0
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=News+Cycle:400,700");

// Navbar =====================================================================

.navbar {
  font-size: 18px;
  font-family: @font-family-sans-serif;
  font-weight: @headings-font-weight;
  margin:0;
  border:none;
  border-bottom:1px solid @gray-lighter;
  box-shadow:0px 1px 2px @gray-lighter;
}

.navbar-brand {
	font-size: 24px;
	color:@brand-primary;
	text-transform:uppercase; font-weight:100; letter-spacing:-0.02em; word-spacing:-0.05em;
}
.navbar-brand:hover {
	background:lighten(@brand-primary,15%) !important; color:#fff !important;
}

// Buttons ====================================================================

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

.has-warning {
  .help-block,
  .control-label {
    color: @brand-danger;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-danger;
  }
}

.has-error {
  .help-block,
  .control-label {
    color: @brand-primary;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-primary;
  }
}

.has-success {
  .help-block,
  .control-label {
    color: @brand-success;
  }

  .form-control,
  .form-control:focus {
    border-color: @brand-success;
  }
}

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

.jumbotron {

  h1, h2, h3, h4, h5, h6 {
    font-family: @font-family-sans-serif;
    font-weight: @headings-font-weight;
    color: #000;
  }
}

.panel {

  &-primary,
  &-success,
  &-warning,
  &-danger,
  &-info {
    .panel-title {
      color: #fff;
    }
  }


}
