html {
  height:100%;
}

body {   
  cursor: default;
  padding: 0;
  color:#11191e;
  padding-bottom: @navbar-height;
  a {
    &:hover {
      text-decoration: none;
      color: lighten(@brand-primary,15%);
      span {
        color: lighten(@brand-primary,15%);
      }
    }
  }
  
  /*Helpers*/
  hr.clearfix { clear:both; height:0; margin:0; border:none; }
  hr.margin { clear:both; margin:@line-height-base*1em 0; border:none; height:0; }
  hr.margin2 { clear:both; margin:@line-height-base*2em 0; border:none; height:0; }
  hr.margin3 { clear:both; margin:@line-height-base*3em 0; border:none; height:0; }
  hr.navbarfixed {
    height:@navbar-height;
    margin:0;
    padding:0;
    border:none;
    clear:both;
    display:block;
    .visible-xs();
    .visible-sm();
  }
  
  header.header {
    background:@ivColorRed1;
    margin:0;
    padding:2em 0;
    padding-bottom:0em;
    h1 {
      font-family:@shareTech;
      .text-center();
      font-size:6em;
      color:@ivColorBlue1;
      margin:0;
      padding:0;
    }
    div.affix-top {
      top:-15em;
    }
    div.affix {
     top:0; 
    }
  }
  nav.affix-top {
      top:-15em;
      z-index:-100;
      visibility:hidden;
  }
  nav.affix {
   top:0; 
   z-index:1000;
   visibility:visible;
  }
  /*Elements ne dépendant pas d'un emplacement précis sur le site*/
  @import "elements.less";
  
  /*BARRE LATERALE MD et LG*/
  
  /*Structure globale*/
  section.content {
    @import "section-content_defaults.less";
  }
  @import "section-content-plus.less";
  
  /*Articles générés par Bodyloop*/
  @import "articles.less";
  

} // end - body