/* Styles de section.content */

  .make-lg-column(12); 

  padding-top: @padding-large-vertical;
  padding-bottom: em;
  
  .h-int {
    font-family:@alegreyaSans;
    font-weight:400;
    //font-size:@font-size-large;
  }
  
  section.main {
    
    .make-sm-column(10); .make-sm-column-push(2);
    .make-md-column(9); .make-md-column-push(3);
    .make-lg-column(10); .make-lg-column-push(1);
    
    margin-top:@navbar-height;

  }
  
  /*ASIDE SIDEBAR*/
  aside.sidebar {
    .make-sm-column(2);
    .make-lg-column(1); .make-lg-column-pull(10);      
    padding:0;
  
    //margin-top: @line-height-computed;      
    .list-group {
      .visible-md(); .visible-lg(); .visible-sm();
      margin:0;
      padding:0;
      a.list-group-item {
      }
     }
  }