
/* PAGE D'ACCUEIL */
section.front-page {
  section.main {    
    
  }
  aside.sidebar {
    .hide()
  }
}

/* PAGE HOME / LIVE */
section.home {
  
  section.main {
    .make-lg-column(7);
    
    article.mod-article {
      .clearfix();
      section.art-vignette {
        .make-lg-column(3);
      }
      section.art-content {
        .make-lg-column(8);
        .text-left();
      }
    }
  }
  aside.sidebar {
    .make-lg-column(2);
  }
}

/* PAGE SINGLE */
section.single {
  
  section.main {
    .make-lg-column(6);
    .make-lg-column-push(1);
    
    article.mainsingle {
      
      header.art-header {
        padding-top:2em;
        margin:0 @padding-base-horizontal;
        margin-left:0;
        
        &.top {
          .hidden-xs();
        }
        
        &.bottom {
          .visible-xs();
          h1 {
            font-size:@font-size-large*2 !important;
          }
        }
        
        h1 {
          font-size:@font-size-large*2.2;
          line-height:1em;
          color:@gray-dark;
          color:@ivColorRed1;
          margin-left:0;
        }
      }
      
      .ilike {
        .hidden-xs();
      }
      section.art-share {
        .hidden-xs();
        
        .addthis_16x16_style {
          .visible-xs();
        }
        .addthis_32x32_style {
          .visible-sm();
          .visible-md();
          .visible-lg();
        }
      }
    
      section.art-vignette {
        margin:@padding-base-vertical 0;
        padding:0;
        .text-left();
        background:lighten(@ivColorBlue1,85%);
        img {
          margin:0 auto;
        }
      }
      
      section.art-similaires {
        margin:0 @padding-base-horizontal;
      }
      
      section.art-content {
        border-bottom:1px solid lighten(@body-bg,15%);    
        margin:@padding-base-vertical @padding-base-horizontal;
        margin-left:0;
        padding:@padding-base-vertical @padding-base-horizontal;
        padding-left:0;
        font-weight:400;
        
        h1 {
            font-size:@font-size-large*1.4em;
            text-shadow:-1px 1px 0 #555;
            border-bottom:1px solid #555;
          }
          h2 {
            font-size:@font-size-large*1.5em;
            text-shadow:-1px 1px 0 #555;
          }
          h3 {
            font-size:@font-size-large*1.2em;
            text-shadow:-1px 1px 0 #555;
          }
          ul { margin-left:0; padding-left:@line-height-base*1em; margin-bottom:@line-height-base*1.5em; }
          li {
            font-size:@font-size-base*1.4em;
            text-align:justify;
            margin:0 @line-height-base*1em;
            padding:0;
            line-height:@line-height-base*1.2em;
          }
          p {
            font-size:@font-size-large*1em;
            text-align:left;
            margin:@padding-base-vertical @padding-base-horizontal;
            line-height:@line-height-base*1.2em;
          }
      }
      
      
      
      
      
      #GameBoard {
        background:red;
      }
      .boardTable {
        .size(500px);
        background:red;
      }
    }
    
    section.art-comments {
      .make-lg-column(8);
      margin:0;
      margin-top:2em;
      min-height:500px;
    }
    
    
  }
  
  aside.sidebar-right {
    .make-lg-column(4);
    .make-lg-column-push(1);
    margin-top:@navbar-height;
    
    aside.main {
      
      .wrap-similaires {
        .mod-thumbnail {
          .make-xs-column(6);
          .make-md-column(3);
          .make-lg-column(4);
          
          margin:@paddin-small-vertical;
          margin:0;
          //border:1px solid lighten(@body-bg,5%);
          height:240px;
          
          .thumbnail {
            border:none;
            padding:0;
            margin:0;
            margin-bottom:0em;
            
            top:0;
          
          .caption {
            top:0;
            margin:0;
            padding:0;
            h1 {
              top:0;
              margin:0;
            }
          
            header.art-header {
              top:0;
              margin-top:0.5em;
              h1 {
              font-size:@font-size-base;
              text-align:left;
              margin:0;
              padding:0;
              line-height:1.1em;
              top:0;
              height:4em;
              overflow:visible;
              a { display:block; &:hover { text-decoration:none; } img {.hidden()} }
              }
            }
          }
            section.art-vignette-bg {
              border:none;
              margin:0;
              padding:0;
              height:160px;
              background-size:cover;
              top:0;
              
              
              img {
                .hidden-lg();
                margin:0;
              padding:0;
              }
            }
          }
        }
      }
      
    }
  }
}
section.recents {
  .make-lg-column(10);
  .make-lg-column-push(1);
  
  .wrap-recents {
    .mod-thumbnail {
      .make-xs-column(6);
      .make-md-column(3);
      .make-lg-column(3);
      
      margin:@paddin-small-vertical;
      border:1px solid lighten(@body-bg,5%);
      
      .thumbnail {
        border:none;
        padding:0;
        margin-bottom:4em;
      
        header.art-header h1 {
          font-size:@font-size-base;
          text-align:left;
          margin:0;
          padding:0;
          line-height:1.1em;
          height:3em;
          overflow:visible;
          a { display:block; &:hover { text-decoration:none; } img {.hidden()} }
        }
        
        section.art-vignette-bg {
          border:none;
          margin:0;
          padding:0;
          height:220px;
          background-size:cover;
          h1 a {
            height:220px;
          }
          img {
            .hidden-lg();
          }
        }
      }
    }
  }
}

/*Pages Search & Tag*/
section.search {

}

/*Categorie*/
section.categorie {
}

/*Page*/
section.page {
  section.main {
    .make-lg-column(8);
    .make-lg-column-push(2);
  }
  
  aside.sidebar {
    .make-lg-column(2);
  }
}
