/* WRAPPERS */

/* section.widget,header.wid-header,section.wid-vignette,section.wid-content,footer.wid-footer */

aside {
	h1.widget-title {
		color: lighten(@brand-primary,30%);
		font-size: @font-size-small* 0.95em !important;
		text-transform: uppercase;
		font-weight: 100;
		letter-spacing: -0.02em;
		word-spacing: -0.05em;
	}
}

section.content {
	h1.widget-title {
		color: lighten(@brand-primary,30%);
		font-size: @font-size-base !important;
		text-transform: uppercase;
		font-weight: 100;
		letter-spacing: -0.02em;
		word-spacing: -0.05em;
	}
}

section.widget {
	.make-xs-column(12);
	font-size: @font-size-small/1.125;
	
	.list-group-item {
		font-variant: small-caps;span.badge { font-size:@font-size-small/1.125; }
	}

	/* Entêtes */

	header.wid-header {
		a {
	
			&:hover {  }
		}
	}
	
	footer.wid-footer {
		a {
	
			&:hover {  }
		}
	}

	/* Sections */
	
	section.wid-content {
	
	}
	
	section.wid-vignette {
		img {
	
		}
	}

	section.wid-vignette-bg {
	
	}

	.wallpin {
		article.article {
			header.art-header {
				h1 {
					font-size:@font-size-base;
					margin: @padding-small-vertical @padding-small-horizontal/2;
					padding: 0;
				}
			}
		}
	}
}

/* Modifications des ITEMS en fonction de leur modèle d'affichage dans assets/tpl/affichage/ */
/* div.mod_article,div.mod_liste,div.mod_listegroup,div.mod_listemedias,div.mod_thumbnail */

.mod-article {
	border: 10px solid @gray-lighter;
	box-shadow: 0px 0px 1px @gray-light;
}

.mod-liste {
}

.mod-listegroup {
}

.mod-listemedias {
}

.mod-thumbnail {
}
/* CLASSE RECOMMANDATIONS */
.recommandations {
	article.article {
		.make-sm-column(6);
		.make-md-column(4);
		.make-lg-column(3);
	}
/* MODELE THUMBNAIL */
	article.mod-article {
		header.art-header {
			h1 {
				height:@font-size-large*3em+@line-height-large;
				line-height: 1.2em;
				text-shadow: -1px 1px 0px @gray-lighter;
				margin-top: 0;
				padding-top: @padding-base-vertical;
			}
		}
	
		section.art-vignette-bg {
			height: 140px;
			background-size:100%;
			position: relative;
			border:2px solid #fff;
			background-color: @gray-darker;
			box-shadow:inset 0px 0px 10px @gray-darker;
			h1 {
				a {
					position: absolute;
					top: 0;
					display: block;
					width: 100%;
					height: 140px;
					span { .hidden(); }
				}
			}
		}
	}
}
.inspiration {
	article.article {
		.make-sm-column(6);
		.make-md-column(4);
		.make-lg-column(6);
	}
/* MODELE THUMBNAIL */
	article.mod-article {
		header.art-header {
			h1 {
				height:@font-size-large*3em+@line-height-large;
				line-height: 1.2em;
				text-shadow: -1px 1px 0px @gray-lighter;
				margin-top: 0;
				padding-top: @padding-base-vertical;
			}
		}
	
		section.art-vignette-bg {
			height: 140px;
			background-size:100%;
			position: relative;
			border:2px solid #fff;
			background-color: @gray-darker;
			box-shadow:inset 0px 0px 10px @gray-darker;
			h1 {
				a {
					position: absolute;
					top: 0;
					display: block;
					width: 100%;
					height: 140px;
					span { .hidden(); }
				}
			}
		}
	}
}
/* MODELE LISTE THUMBNAIL */
.mesvignettes {
	.widget {
		article.mod-thumbnail {
			.make-lg-column(2);
		
			padding: 0 @padding-small-horizontal/2;
		
			header.art-header {
				h1 {
					font-size:@font-size-base*1em;
					height: @font-size-large*2em+@line-height-large;
					line-height: 1.2em;
					text-shadow: -1px 1px 0px @gray-lighter;
					margin-top: 0;
					padding-top: 0;
				}
			}	

			section.art-vignette-bg {
				height: 140px;
				position: relative;
				h1 {
					a {
						position: absolute;
						top: 0;
						display: block;
						width: 100%;
						height: 140px;
						span { .visible(); display:none; line-height:1.2em; text-align:center; margin:2em 0; padding:2em 0; background:rgba(255,255,255,0.95); }
						
						&:hover {
							span { .visible(); display:block; line-height:1.2em; text-align:center; margin:2em 0; padding:2em 0; background:rgba(255,255,255,0.95); }
						}
					}
				}
			}
		
			footer.art-footer {
				margin: 0;
				padding: @line-height-computed/3 0;
				padding-top: @line-height-computed/4;
			}
		}
	}
}

//
Image de la semaine dans la sidebar principale
.aside-widget-picoftheweek {article.article {
	section.art-vignette {
	margin: 0;
	padding: 0;.vignette-bg {
	background-size: cover;h1, a {
	margin: 0;
	padding: 0;
	position: relative;.text-center;
	span { .hidden();
	position: absolute;
	top: @navbar-height  - 2em;
	width: 100%;
}
}
}
}
}
}

.relatedposts {article.recommandation {

	header {
	margin: 0;h1 {
	font-size:@font-size-base;
	margin: 0;
	padding: @line-height-base* 1em;
	padding-top: @line-height-base* 0.5em;
}
}

section.vignette {
	height: 100px;
	overflow: auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;a {
	height: 100px;span.thethumb {
	img {
	}
	}
	}
	}
	}
}

