/* STRUCTURE-HOME */
/* header.header,aside.aside,aside.aside-right,section.content,footer.footer */

body.home {
  aside.aside {
	 .make-lg-column-pull(8);
  }

  section.content {
    .make-lg-column(8);
  
  	/* ARTICLES RECENTS */
  	.articles_recents {
  
  	.mod-article {
    	.make-lg-column(3);
    	padding: 0;
    	margin: 0;
  	 .thumbnail {
    	 margin:@line-height-computed/4;
  	   margin-bottom: 0;
  	   padding: 0;
  	   .caption {
    	   margin: 0;
  	     padding: 0;
       }

section.art-vignette-bg {
	margin: 0;
	position: relative;
	h1 {
	 margin: 0;
	 padding: 0;
	 a {
	   display: block;
	   height: 75px;
	   width: 100%;
	   position: absolute;
	   top: 0;
	   left: 0;
	   span {
	     .hidden();
	   }
	 }
	}
}
	}
	}
	}
	}
}